<template>
	<div id="vue-app">
		<h2 class="h4 text-center text-uppercase py-3">
			<strong>
				Never forget what to do next
			</strong>
		</h2>

		<div class="card">
			<div class="card-body">
				<div class="row m-2 p-2 rounded">
					<div class="col-12 col-md-6 input-group">
						<a class="btn btn-success" tabindex="1" @click="addToDo"
							><i class="bi bi-plus-circle-fill"></i
						></a>
						<input
							type="text"
							name="todo"
							id="todo"
							class="form-control"
							placeholder="What do you need to do next?"
							tabindex="2"
							maxlength="50"
							@keyup.enter="addToDo"
							v-model="record.title"
						/>
					</div>
				</div>
				<!-- Hover added -->
				<div class="row m-2 p-2">
					<div
						class="col-12 input-group mb-2"
						v-for="(todo, index) in todoList"
						:key="todo.id"
					>
						<div class="list-group">
							<label class="list-group-item">
								<input
									class="form-check-input me-1"
									type="checkbox"
									:value="todo"
									v-model="deleteList"
									@change="isAllChecked"
								/>
							</label>
						</div>
						<input
							type="text"
							name="showTodo"
							id="todo"
							class="form-control"
							tabindex="2"
							disabled
							:value="todo.title"
							:style="deleteList.some(t => t.id === todo.id) ? 'text-decoration:line-through;' : ''"
						/>
						<a
							:id="index"
							class="btn btn-danger"
							tabindex="1"
							@click="deleteToDo(index)"
							><i class="bi bi-x-circle"></i
						></a>
					</div>
					<div class="col-12 col-md-6 input-group">
						<div class="list-group">
							<label class="list-group-item">
								<input
									id="checkAll"
									class="form-check-input me-1"
									type="checkbox"
									:disabled="todoList.length === 0"
									value="true"
									v-model="checkAllToDos"
									@change="checkAll"
								/>
							</label>
						</div>
					</div>
				</div>
			</div>
			<div class="card-footer" v-if="todoList.length > 0">
				<div class="row m-2 p-2">
					<div class="col-6">
						<label for="">{{ todoList.length + " items left " }}</label>
					</div>
					<div class="col-6">
						<a
							name=""
							id=""
							class="btn btn-primary float-end"
							href="#"
							role="button"
							@click="removeDone"
							>Clear</a
						>
					</div>
				</div>
			</div>
		</div>
	</div>
</template>

<script>
export default {
	name: "TodoListComponent",
	data() {
		return {
			record: {
				id: "",
				title: "",
				state: ""
			},
			todoList: [],
			deleteList: [],
			checkAllToDos: false
		};
	},
	methods: {
		addToDo() {
			const vm = this;
			if (vm.record.title !== "") {
				vm.record.id = Date.now();
				vm.record.state = "active";
				vm.todoList.push(vm.record);
				vm.reset();
			}
			
		},
		deleteToDo(index) {
			const vm = this;
			vm.todoList.splice(index, 1);
			if(vm.todoList.length === 0) {
				vm.checkAllToDos = false;
			}
		},
		removeDone() {
			const vm = this;
			if (vm.todoList.length === vm.deleteList.length) {
				vm.todoList = [];
				vm.deleteList = [];
			} else if (vm.todoList.length > vm.deleteList.length > 0) {
				vm.todoList = vm.todoList.filter(
					todo =>
						!vm.deleteList.some(deleteItem => {
							return todo.id === deleteItem.id;
						})
				);
				vm.deleteList = [];
			} else {
				vm.checkAllToDos = false;
				return;
			}
			vm.checkAllToDos = false;
		},
		checkAll() {
			const vm = this;
			vm.deleteList = vm.checkAllToDos ? vm.todoList.slice() : vm.deleteList = [];
		},
		isAllChecked() {
			const vm = this;
			vm.checkAllToDos = vm.deleteList.length === vm.todoList.length ? true : false;
		},
		checkIfDone(todoId) {
			const vm = this;
			return vm.deleteList.some(todo => todo.id === todoId);
		},
		reset() {
			const vm = this;
			vm.record = { id: "", title: "", state: "" };
			vm.checkAllToDos = false;
		}
	}
};
</script>

<style></style>
