<template>
  <div id="app">
    <div class="container col-6">
      <img src="./assets/logo.png" class="logo" />
      <TodoListComponent />
    </div>
  </div>
</template>

<script>
// import HelloWorld from "./components/HelloWorld";
import TodoListComponent from "./components/TodoListComponent";

export default {
  name: "App",
  components: {
    TodoListComponent
  }
};
</script>

<style>
* {
  box-sizing: border-box;
}
/* 
.container {
  max-width: 600px;
  margin: 0 auto;
  /* text-align: center; */

.logo {
  display: block;
  position: relative;
  right: 0;
  margin: 20px auto;
  height: 80px;
}

#app {
  font-family: "Avenir", Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  /* text-align: center; */
  color: #2c3e50;
  margin-top: 60px;
}
</style>
